<div id="intro" class="p-5 text-center bg-light">
  <h1 class="mb-3 h2">Chào mừng bạn đến EOTIH Blog</h1>
  <p class="mb-3">Nơi chia sẻ về kinh nghiệm IT mà mình đã từng trải qua.</p>
  <a class="btn btn-primary m-2" href="/post/create" role="button" rel="nofollow"
    target="_blank">Đăng bài ngay</a>
</div>
<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Latest posts</strong></h4>

      <div class="row">
        {{#each post}}
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a href="/post/{{this.slug}}">
                <img src="{{this.image}}" style="width:780px; height:320px" class="img-fluid" />
              </a>
              <a href="/post/{{this.slug}}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <a style="text-decoration: none; color:black" href="/post/{{this.slug}}">
                <h5 class="card-title">{{this.title}}</h5></a>
                <p class="card-text">
                  {{this.description}}
                </p>
                <hr>
                <a href="/post/{{this.slug}}" class="btn btn-primary col-xl-3">Read</a>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </section>
    <!--Section: Content-->

    <!-- Pagination -->
    <nav class="my-4" aria-label="...">
      <ul class="pagination pagination-circle justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</main>