<div class="mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">{{post.title}}</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">{{post.createdAt}}</div>
          <!-- Post categories-->
          {{!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> --}}
        </header>
        <!-- Preview image figure-->
        <!-- Post content-->
        <section class="mb-5">
          <div data-data="{{post.content}}" id="inner"></div>
        </section>
      </article>
    </div>

    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..."
              aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">Tác giả</div>
        <div class="card-body">Lê Trọng Hiếu</div>
      </div>
      <h5>Other Posts</h5>
      {{#each other }}

      <div class="card mb-5">
        <div class="card">
          <img src="{{this.image}}" class="img-thumbnail" alt="..." />
          <div class="card-body">
            <h5>{{this.title}}</h5>
            {{this.description}}
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>
<script>

  var x = document.getElementById("inner").getAttribute("data-data")
  document.getElementById("inner").innerHTML = x
</script>